/* CSS Document */
@charset "utf-8";
.h3-style04{
	h3{
		position: relative;
		border-bottom: 1px dashed #ddd;
		border-left: 5px solid $base-color;
		@include grid-media($mobile){
			font-size: 1.2rem;
			line-height: 1.7rem;
			padding: 4px 10px;
			margin-top: 1.4rem;
			margin-bottom: 1rem;
			font-weight: 700;
		}
		@include grid-media($tablet){
			font-size: 1.5rem;
			line-height: 2rem;
			padding: 6px 12px;
			margin-top: 2rem;
			margin-bottom: 1.6rem;
		}
	}
}