/* CSS Document */
@charset "utf-8";

.h3-style03{
	h3{
		position: relative;
		@include grid-media($mobile){
			font-size: 1.2rem;
			line-height: 1.7rem;
			padding: 10px 15px;
			margin-top: 1.4rem;
			margin-bottom: 1rem;
			font-weight: 700;
		}
		@include grid-media($tablet){
			font-size: 1.5rem;
			line-height: 2rem;
			padding: 12px 20px;
			margin-top: 2.3rem;
			margin-bottom: 1.6rem;
		}
	}
	h3:before{
		position: absolute;
		content: '';
		width: 6px;
		height: 100%;
		left: 0;
		bottom: 0;
		background-color: $base-color;
		border-radius: 3.5px;
		@include grid-media($mobile){
			width: 6px;
			border-radius: 3px;
		}
	}
}