/* CSS Document */
@charset "utf-8";

.h2-style07{
	h2{
		position: relative;
		@include grid-media($mobile){
			font-size: 1.45rem;
			line-height: 1.8rem;
			padding: 13px;
			padding-left: 6px;
			padding-bottom: 8px;
			margin-top: 1.4rem;
			margin-bottom: 1rem;
			font-weight: 700;
		}
		@include grid-media($tablet){
			font-size: 1.65rem;
			line-height: 2rem;
			padding: 15px;
			padding-left: 8px;
			padding-bottom: 10px;
			margin-top: 2.6rem;
			margin-bottom: 1.6rem;
		}
	}
	h2:before{
		position: absolute;
		content: "";
		z-index: 0;
		bottom: 0;
		left: 0px;
		width: 100%;
		height: 4px;
		border-radius: 1px;
		background: #ccc;
		opacity: 0.5;
	}
	h2:after{
		position: absolute;
		content: "";
		z-index: 0;
		bottom: 0;
		left: 0px;
		height: 4px;
		border-bottom-left-radius: 1px;
		border-top-left-radius: 1px;
		background: red;
		@include grid-media($mobile){
			width: 80px;
		}
		@include grid-media($tablet){
			width: 120px;
		}
	}
}