@charset "utf-8";

@import "../lib/bourbon/bourbon";
@import "../lib/neat/neat";


$mobile: (
	columns: 12,
	gutter: 20px,
	media: "(max-width: 767px)",
);
$tablet: (
	columns: 12,
	gutter: 30px,
	media: "(min-width: 768px)",
);//タブレット以上の基本レイアウトに使用
$tablet_pc: (
	columns: 12,
	gutter: 30px,
	media: "(min-width: 835px) and (max-width: 1199px)",
);
$pc: (
	columns: 12,
	gutter: 30px,
	media: "(min-width: 1200px)",
);//PCとタブレットPCのレイアウト差別化のときに使用

$pc_view: (
	columns: 12,
	gutter: 30px,
	media: "(min-width: 1024px)",
);//タブレットPCとPCの見た目を共有するために使用

$pc-width:1200px;
$tablet-width:100%;

$layout1: (
	columns: 1,
	gutter: 30px,
);
$layout1_0: (
	columns: 1,
	gutter: 0px,
);
$layout1_10: (
	columns: 1,
	gutter: 10px,
);
$layout1_15: (
	columns: 1,
	gutter: 15px,
);
$layout1_20: (
	columns: 1,
	gutter: 20px,
);
$layout12: (
	columns: 12,
	gutter: 30px,
);
$layout12_20: (
	columns: 12,
	gutter: 20px,
);
$layout12_15: (
	columns: 12,
	gutter: 15px,
);
$layout12_0: (
	columns: 12,
	gutter: 0px,
);
$layout12_10: (
	columns: 12,
	gutter: 10px,
);

$text-color:#524e4d;
$link-color:#0094c8;

$base-color:#2b2b2b;
$sub-color2:#E3E5E5;
$sub-color3:#FFFFFF;
$accent-color:#f8b500;

@mixin paper{
	border-radius: 2px;
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
	@include grid-media($mobile){
		border-radius: 0px;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
	}
};
@mixin paper-widget{
	border-radius: 2px;
	background: #fff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
	@include grid-media($mobile){
		border-radius: 0px;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
	}
};
@mixin paper-sp{
	@include grid-media($mobile){
		border-radius: 2px;
		background: #fff;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
		border-top: 1px solid #F3F3F3;
	}
};
@mixin paper-hover{
	transform: translateY(-3px);
	box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.08);
};
@mixin paper2{
	border-radius: 2px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
};

@mixin trans00{
	-webkit-transition: all .2s;
	transition: all .2s;
}
@mixin trans01{
	-webkit-transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease;
	transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease;
}
@mixin trans02{
	-webkit-transition: color 0.4s ease, background 0.4s ease, transform 0.4s ease, opacity 0.4s ease, border 0.4s ease, padding 0.4s ease, left 0.4s ease, box-shadow 0.4s ease;
	transition: color 0.4s ease, background 0.4s ease, transform 0.4s ease, opacity 0.4s ease, border 0.4s ease, padding 0.4s ease, left 0.4s ease, box-shadow 0.4s ease;
}




/*カエレバ*/

.booklink-box,
.kaerebalink-box{
    margin: 15px 10px 35px 10px;
    padding: 25px 20px;
	background: #fff;
	@include grid-media($mobile){
		@include paper-sp;
		p{
			line-height: 1.3rem;
			padding-bottom: 10px;
		}
	}
	@include grid-media($tablet){
		@include paper;
		p{
			font-size: 0.95rem;
		}
	}
	@include grid-media($pc_view){
		p{
			font-size: 1rem;
			padding-bottom: 30px;
		}
	}
}

.booklink-image,
.kaerebalink-image{
	@include grid-media($mobile){
		margin-right: 20px!important;
		float: left;
		display: inline-block;
		width: 100px;
		text-align: center;
		img{
			width: auto;
			height: auto;
			max-height: 180px;
			margin-bottom: 0!important;
		}
	}
	@include grid-media($tablet){
		margin-right: 20px!important;
		width: 130px;
		text-align: center;
		img{
			width: auto;
			height: auto;
			max-height: 200px;
			margin-bottom: 0!important;
		}
	}
}

.kaerebalink-info,
.booklink-info{
	img{
		display: none;
	}
	@include grid-media($tablet){
		width: calc(100% - 150px);
	}
}
.kaerebalink-box,
.booklink-box{
	@include grid-media($tablet){
		display: flex;
	}
}
.kaerebalink-link1,
.booklink-link2{
	@include grid-media($tablet){
		display: flex;
		margin-top: 15px;
	}
	@include grid-media($mobile){
		margin-top: 15px;
	}
}

.shoplinkamazon,
.shoplinkrakuten,
.shoplinkkindle{
	@include grid-media($tablet){
		margin-right: 8px;
	}
}
.shoplinkkindle,
.shoplinkamazon,
.shoplinkrakuten,
.shoplinkyahoo{
	@include grid-media($mobile){
		margin: 0 auto;
		margin-bottom: 1px;
	}
}
.shoplinkkindle a,
.shoplinkamazon a,
.shoplinkrakuten a,
.shoplinkyahoo a{
	display: block ;
	font-size: 0.85rem;
	text-decoration: none !important;
	color: #fff !important;
	text-align: center;
	border-radius: 2px;
	@include grid-media($mobile){
		padding: 10px;
	}
	@include grid-media($tablet){
		font-size: 0.8rem;
		padding: 12px 5px;
	}
	@include grid-media($pc_view){
		padding: 12px 12px;
	}
}
.shoplinkamazon a{
    background:#FFB642;
}
.shoplinkkindle a{
    background:#4C5AA5;
}
.shoplinkyahoo a{
    background:#EB668E;
}
.shoplinkrakuten a{
    background:#E84E51;
}


@include grid-media($mobile){
	.booklink-detail:after,
	.kaerebalink-detail:after{
	  display: block;
	  clear: both;
	  content: "";
    }
	.kaerebalink-footer,
	.booklink-footer{
    	clear: both ;
	}
}
@include grid-media($tablet){
	.booklink-detail:after,
	.kaerebalink-detail:after{
	  display: block;
	  clear: both;
	  content: "";
    }
	.kaerebalink-footer,
	.booklink-footer{
    	clear: both ;
	}
}




.kaerebalink-powered-date,
.kaerebalink-powered-date a,
.kaerebalink-detail{
    color: #aaa;
	text-decoration: none;
	font-size: 0.75rem;
}
.kaerebalink-powered-date,
.kaerebalink-detail{
	@include grid-media($mobile){
		padding-left: 120px;
	}
}


.booklink-powered-date a,
.booklink-powered-date,
.booklink-detail{
    font-size: 13px;
    color: #ACACAC !important;
}