/* CSS Document */
@charset "utf-8";

.sns-design-type01{
	.sns li a:hover,
	.sns-top li a:hover{
		opacity: 1!important;
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
		filter: brightness(95%);
	}
	.sns-top li a,
	.sns li a{
		border-radius:2px;
		background: rgba(255,255,255,0.5);
		position:relative;
		display:block;
		color:#fff;
		text-align:center;
		text-decoration: none;
		letter-spacing: 0;
		padding:2px 6px;
		height: 25px;
		@include trans01;
		@include grid-media($tablet){
			font-size: 0.8rem;
			@include paper;
		}
		@include grid-media($mobile){
			font-size: 0.75rem;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
		}
	}

	/* hatebu */
	.sns-top .hatebu a,
	.sns .hatebu a{
		line-height: 1;
		padding-top: 4px;
	}

	/* pocket */
	.sns-top .pocket a,
	.sns .pocket a{
		@include grid-media($tablet){
			font-size: 0.75rem;
			padding-top: 3px;
		}
		@include grid-media($mobile){
			font-size: 0.7rem;
			padding-top: 3px;
		}
	}

	.sns-top .twitter a,
	.sns-top .facebook a,
	.sns-top .hatebu a,
	.sns-top .pocket a,
	.sns-top .line a,
	.sns .twitter a,
	.sns .facebook a,
	.sns .hatebu a,
	.sns .pocket a,
	.sns .line a{
		border: 2px solid;
	}
	/* twitter */
	.sns .twitter a,
	.sns-top .twitter a{
		border-color:#00acee;
		background: #00acee;
	}
	/* Facebook */
	.sns .facebook a,
	.sns-top .facebook a{
		border-color:#3b5998;
		background: #3b5998;
	}
	/* hatebu */
	.sns .hatebu a,
	.sns-top .hatebu a{
		border-color:#5d8ac1;
		background: #5d8ac1;
	}
	/* Pocket */
	.sns .pocket a,
	.sns-top .pocket a{
		border-color:#f03e51;
		background: #f03e51;
	}
	/* line */
	.sns .line a,
	.sns-top .line a{
		display: block;
		border-color:#6cc655;
		text-align: center;
		background: #6cc655;
		svg{
			width: 24px!important;
			fill:#fff!important;
		}
	}
}